<div #cart class="w-full md:w-80 bg-white rounded-lg shadow p-4 h-fit max-h-screen overflow-y-auto sticky top-20" data-testid="cart">
    <h3 class="text-lg font-bold pb-2 mb-4">Cart</h3>
    @for(item of (cart$ | async)?.items; track i; let i = $index) {
    <div class="border-b pb-3 mb-3" data-testid="cart-items">
        <div class="flex justify-between">
            <div class="w-2/3">
                <p class="text-sm font-medium">{{ item.title }}</p>
                <p class="text-xs text-gray-500">Qty:
                    <input data-testid="cart-item-qty" type="number" [(ngModel)]="item.quantity" min="1"
                        class="w-12 text-center border rounded px-1 py-0.5 text-sm" (change)="updateQty(i, $event)" />

                </p>
            </div>

            <div class="text-right">
                <div class="flex flex-col justify-end items-end space-x-2">
                    <span class="text-blue-600 font-bold text-sm">${{ item.totalPrice }}</span>
                    <button data-testid="cart-item-remove" class="cursor-pointer text-xs" (click)="removeItem(i)">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor"
                            class="w-5 h-5 text-red-500 hover:text-red-700 transition-colors duration-150">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M6 7.5V19a2 2 0 002 2h8a2 2 0 002-2V7.5M10 11v6M14 11v6M4 7.5h16M9 3h6a1 1 0 011 1v2H8V4a1 1 0 011-1z" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    } @empty {
    <p class="text-sm">Your cart is empty.</p>
    }
    @if((cart$ | async)?.total) {
    <div class="pt-4">
        <p class="text-sm font-semibold">Total:
            <span class="text-blue-600">
                $<span data-testid="cart-total">{{ (cart$ | async)?.total | number:'1.2-2' }}</span>
            </span>
        </p>
    </div>

    }
</div>