<div class="flex-1 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
  @for(product of (productLists$ | async); track product.id) {
  <div class="bg-white rounded-lg shadow p-3 flex flex-col justify-between w-full">
    <img [src]="product.image" alt="{{ product.title }}" class="h-36 object-contain mx-auto mb-3" />
    <h2 class="text-sm font-semibold mb-1">{{ product.title }}</h2>
    <p class="text-xs text-gray-500 line-clamp-3">{{ product.description | slice:0:100 }}...</p>
    <div class="mt-4 flex justify-between items-center">
      <span class="text-blue-600 font-bold text-sm">${{ product.price }}</span>
      <button (click)="addToCart(product)"
        class="bg-blue-500 hover:bg-blue-600 text-white px-3 py-1 text-sm rounded shadow-sm cursor-pointer">
        Add to Cart
      </button>
    </div>
  </div>
  } @empty {
  <ng-container *ngTemplateOutlet="loading"></ng-container>
  }
</div>

<ng-template #loading>
  @for(product of [1, 2, 3, 4, 5, 6]; track $index) {
    <div class="w-[270px] h-[360px] p-4 bg-white rounded-lg shadow flex flex-col gap-3">
      <div class="shimmer w-full h-40 bg-gray-300 rounded"></div>

      <div class="shimmer h-5 bg-gray-300 rounded w-3/4"></div>

      <div class="shimmer h-3 bg-gray-300 rounded w-full"></div>
      <div class="shimmer h-3 bg-gray-300 rounded w-5/6"></div>
      <div class="shimmer h-3 bg-gray-300 rounded w-1/2"></div>

      <div class=" mt-auto flex items-center justify-between">
        <div class="shimmer w-16 h-5 bg-gray-300 rounded"></div>
        <div class="shimmer w-24 h-8 bg-gray-300 rounded"></div>
      </div>
    </div>
  }
</ng-template>